<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/morris_symbol_sm.png" alt="I'm Morris Man">
    <h1>Student Data</h1>
    <p class="lead">Find Information About Your Students!</p>
  </div>
</header>

<div class="container">
    <h1 class="page-header">The Data Set</h1>

  <form class="thing-form">


  </form>
    <div class="row">
        <div class="col-lg-12">
          <div ng-controller="MainCtrl">
            <pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>
            <hr/>
            <table>
              <tr>
                [<a href="" ng-click="predicate=''">unsorted</a>]
                <th><button type="submit" class="btn btn-primary" ng-click="predicate = 'lastName'; reverse= false">Students Name</button></th>
                <th><button type="submit" class="btn btn-primary" ng-click="predicate = 'dateOfBirth'; reverse= false">Date of Birth</button></th>
                <th><button type="submit" class="btn btn-primary" ng-click="sortByCredits()">Credit Amount</button></th>
                <th><button type="submit" class="btn btn-primary" ng-click="predicate = 'major1'; reverse= false">Major</button></th>
                <th><button type="submit" class="btn btn-primary" ng-click="predicate = 'GPA'; reverse= false">GPA</button></th>
                <th><button type="submit" class="btn btn-primary" ng-click="predicate = 'creditYear'; reverse= false">Credit Year</button></th>
              <tr ng-repeat="student in students | orderBy:predicate:reverse">
                <td>{{student.lastName}}, {{student.firstName}}</td>
                <td>{{student.dateOfBirth}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.major1}}, {{student.major2}}</td>
                <td>{{addCredits(student)}}</td>
                <td>{{student.address}}</td>
                <td>{{student.email}}</td>
                <td>{{student.phone}}</td>
              </tr>
            </table>
          </div>
        </div>
    </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
